@page "/buy/{Id?}"

@using Warehouse.Data;
@inject StockRepository stockRepository;

<h3>Buy @Id</h3>

@if (newStockItem == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <label>Name:</label>
    <input @bind="@newStockItem.Name" />

    <label>Price:</label>
    <input @bind="@newStockItem.SellPrice" />

    <label>Minimal price:</label>
    <input @bind="@newStockItem.Price" />

    <label>Sell price:</label>
    <input @bind="newStockItem.SellPrice" />

    <label>Amount:</label>
    <input @bind="newStockItem.Count" />

    <button @onclick="OnSave">Save</button>
}