@page "/"
@inject NavigationManager navigationManager

<p><em>Loading...</em></p>

@code {
	protected override async Task OnInitializedAsync()
    {
        navigationManager.NavigateTo("stock", true);
    }
}