@page "/stock"

@using Warehouse.Data;
@inject StockRepository stockRepository;

<div class="d-flex flex-column align-items-stretch" style="height: calc(100vh - 6rem);">
<h3>Stock</h3>

	<div class="flex-fill overflow-auto">

@if (data == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<ul class="list-unstyled">
		@foreach (var item in data)
		{
			<li>
				<StockCard Item="@item"/>
			</li>
		}
	</ul>
}
	</div>
</div>



